<h1> Song Results </h1>

<ul class="list-group list results">
  <% @embed_info.each do |e| %>

    <li class="list-group-item"> <%= e.html_safe %>   <%= link_to("Add to mixtape", {controller: "song", action: "add", playlist_id: params[:playlist_id], embed_code: e},  {class: 'btn btn-default'}) %></li>

  <%end%>
</ul>