<div class="center hero-unit">
  <h1>Mixtape</h1>

  <h2>
    It's about time someone brought the joy of sharing mixtapes with friends to the digital world.
  </h2>

  <%= link_to "Create a mixtape", new_playlist_path , class: "btn btn-large btn-primary" %>
</div>