<%= link_to "Back to Jukebox", playlist_index_path, class: "btn btn-default"  %>
<%= link_to "Add songs", "/search", class: "btn btn-large btn-primary" %>
<h1> <%=@playlist.name %> </h1>
<br>
<br>
<h3> Songs <h3>
  <ul class="list-group">

    <% @songs.each do |song| %>

      <li class = "list-group-item">
        <%= song.html_safe %>
      </li>

    <%end%>
  </ul>