<h1> All mixtapes </h1>

<ul class="list-group list">
  <% @playlists.each do |playlist| %>
    <li class = "list-group-item playlists">
      <h3><%= link_to "#{playlist.name}" , playlist %></h3>
    </li>
  <%end%>
</ul>