<%= link_to "Back to Jukebox", playlist_index_path, class: "btn btn-default"  %>
<%= link_to "Add songs", {:playlist_id => @playlist.id, :action => "search", :controller => "song"}, {:class => "btn btn-large btn-primary"} %>
<h1> <%=@playlist.name %> </h1>
<br>
<br>
<h3> Songs <h3>
  <ul class="list-group">

    <% @songs.each do |song| %>

      <li class = "list-group-item">
        <%= song.embed_code.html_safe %>
      </li>

    <%end%>
  </ul>