<header class="navbar navbar-fixed-top header">
  <div class="navbar-header">
    <div class="container">
      <nav>
        <%= link_to "Mixtape", root_path , id: "logo" %>
        <ul class="nav navbar-nav navbar-right nav-links">
          <li><%= link_to "Create Mixtape",  new_playlist_path %></li>
          <li><%= link_to "Jukebox",    playlist_index_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>